<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link rel="stylesheet" href="/layout.css" />
    <title>Sandras Portfolio</title>
  </head>
  <body>

    <!-- NAVIGATION BAR -->
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">SANDRAS PORTFOLIO</a>
      </section>
      <section class="navbar-section">
        <a href="portfolio" class="btn btn-link">Portfolio</a>
        <a href="blog" class="btn btn-link">Blog</a>
        <a href="blog-admin" class="btn btn-link">Blog Admin</a>
        <a href="about-me" class="btn btn-link">About Me</a>
        <a href="faq" class="btn btn-link">FAQ</a>
        <a href="faq-admin" class="btn btn-link">FAQ Admin</a>
        <a href="contact-me" class="btn btn-link">Contact Me</a>
        <a href="log-in" class="btn btn-link">Log in</a>
      </section>
    </header>

    <!-- BODY -->
    {{{body}}}

  </body>
</html>