<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sandras Portfolio</title>
    <link rel="stylesheet" href="/layout.css" />
  </head>
  <body>

    <!-- NAVIGATION BAR -->
    <header class="navbar">
      <section class="navbarSectionMenu">
        <a href="/portfolio" class="navBtns">Portfolio</a>
        <a href="about-me" class="navBtns">About Me</a>
        <a href="contact-me" class="navBtns">Contact Me</a>
        <a href="log-in" class="navBtns">Log in</a>
      </section>
      <section class="navbarSectionLogo">
        <a href="/" class="navBtnLogo">SANDRAS PORTFOLIO</a>
      </section>
    </header>

    <!-- BODY -->

    {{{body}}}

  </body>
</html>