<!-- https://picturepan2.github.io/spectre/layout/grid.html -->
<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>About Me</h4>
      <p>I'm Sandra, a 21 year-old who is currently based in Jönköping, where I
        study Graphic Design and Web Development.
        <br />
        I've always loved art - photography, graphic design, painting, knitting
        - you name it.
        <br />
        My work is focused on making ordinary things feel playful and bold.
        <br />
        Hop in, keep all hands inside the vehicle and we'll go for a ride.
        Please enjoy.</p></div>
    <div class="column col-12">
      <h4>FAQ</h4>
      {{#if faqs.length}}

        <ul>
          {{#each faqs}}
            <li>{{question}}</li>
          {{/each}}
        </ul>

      {{else}}

        <p>There are no questions right now. Ask the first one!</p>

      {{/if}}
    </div>
    <div class="column col-12">
      <h4>Reviews</h4>
      {{#if reviews.length}}

        <ul>
          {{#each reviews}}
            <li>{{evaluation}}</li>
          {{/each}}
        </ul>

      {{else}}

        <p>There are no reviews right now. Write the first one!</p>

      {{/if}}
    </div>
  </div>
</div>