<!-- https://picturepan2.github.io/spectre/layout/grid.html -->
<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>About Me</h4>
      <p>I'm Sandra, a 21 year-old from Gothenburg who is currently based in
        Jönköping, where I study Graphic Design and Web Development.
        <br />
        I've always loved art - photography, graphic design, painting, knitting
        - you name it. My work is focused on making ordinary things feel playful
        and bold.
        <br />
        Hop in, keep all hands inside the vehicle and we'll go for a ride.
        Please enjoy.</p>
    </div>

    <div class="column col-12">
      <h4>Reviews</h4>
      {{#if reviews.length}}

        <dl>
          {{#each reviews}}
            <dd>"{{evaluation}}" <br> &#11088;: {{grade}}/10 </dd>
          {{/each}}
        </dl>

      {{else}}

        <p>There are no reviews right now. Write the first one!</p>

      {{/if}}
    </div>
    <div class="column col-5">
      <div>
        <form action="" method="POST">
          <div>
            <label class="form-label" for="input-example-1">Write your review
              here:</label>
            <input type="text" placeholder="Review" name="evaluation" />
            <input type="number" placeholder="Grade" name="grade" />
          </div>
          </div>
          <input class="btn btn-primary" type="submit" value="Create review" />
        </form>
      </div>
    </div>
  </div>
</div>