<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Admin pages</h4>
      <p>Choose what you want to do:</p>
      <ul style="list-style-type:none;">
        <li><a href="/blog-admin" class="btn btn-link">Write/Edit/Delete blogposts</a></li>
        <li><a href="/review-admin" class="btn btn-link">Edit/Delete reviews</a></li>
        <li><a href="/faq-admin" class="btn btn-link">Edit/Delete FAQs</a></li>
        <li><a href="/create-answer-admin" class="btn btn-link">Answer FAQs</a></li>
      </ul>
    </div>
  </div>
</div>