<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Edit blogpost</h4>
    </div>
    <div class="column col-12">
      {{#if errorMessages.length}}
        <p>Couldn't submit because:</p>
        <ul>
          {{#each errorMessages}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
    <div class="column col-8">
      <div>
        <form method="POST">
          <label class="form-label" for="input-example-1">Edit blogpost:</label>
          <input
            type="text"
            placeholder="Blogtitle"
            name="blogtitle"
            value="{{blogtitle}}"
          />
          <input
            type="text"
            placeholder="Blogpost"
            name="blogpost"
            value="{{blogpost}}"
          />
        </form>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Update" />
      </div>
    </div>
  </div>
</div>