<div class="container">
  <div class "columns">
    <div class="column col-12">
      <h4>Blog</h4>
    </div>
    <div class="column col-8">
      {{#if blogs.length}}

        <ol>
          {{#each blogs}}
            <li>{{blogpost}}</li>
            <div class="divider"></div>
          {{/each}}
        </ol>

      {{else}}

        <p>There are no blog posts right now.</p>

      {{/if}}
    </div>
  </div>