<div class="container">
  <div class="columns">
    <div class="column col-8">
      {{#if blogs}}
        <h3>{{blogs.blogtitle}}</h3>
        <p>{{blogs.blogpost}}</p>
      {{else}}
        <p>Awh, there's no blog post here!</p>
      {{/if}}
    </div>
  </div>
</div>