<div class="container">
  <div class "columns">
    <div class="column col-12">
    </div>
    <div class="column col-8">
      {{#if blogs}}

        <h3>{{blogs.blogtitle}}</h3>
        <p>{{blogs.blogpost}}</p>

      {{else}}

        <p>There are no blog posts right now.</p>

      {{/if}}
    </div>
  </div>