<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Blog</h4>
    </div>
    <div class="column col-8">
      {{#if blogs.length}}
        <ul>
          {{#each blogs}}
            <a href="/blog/{{id}}">{{blogtitle}}</a>
            <div class="divider"></div>
          {{/each}}
        </ul>
      {{else}}
        <p>There are no blogposts right now.</p>
      {{/if}}
    </div>
  </div>
</div>