<!-- https://picturepan2.github.io/spectre/layout/grid.html -->
<div class="container">
  <div class "columns">
    <div class="column col-12">
      <h4>Blog</h4>
    </div>
    <div class="column col-12">
      <form action="/blog-admin" method="POST">
          <div>
            <label class="form-label" for="input-example-1">Write blogpost:</label>
            <input type="text" name="blogpost" />
          </div>
          <!--https://picturepan2.github.io/spectre/elements/buttons.html#buttons-->
          <input class="btn btn-primary" type="submit" value="Send off to blog!" />
        </form>
    </div>
    <div class="column col-8">
      {{#if blogs.length}}

        <ol class="list">
          {{#each blogs}}
            <li>{{blogpost}}</li>
            <button class="btn btn-primary btn-sm">Delete</button>
            <button class="btn btn-primary btn-sm">Edit</button>
            <div class="divider"></div>
          {{/each}}
        </ol>

      {{else}}

        <p>There are no blog posts right now.</p>

      {{/if}}
    </div>
  </div>