<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Contact Me</h4>
      <p>E-mail: wisa21rw@student.ju.se</p>
      <p>Phone number: 031-555-87</p></div>
  </div>
</div>