<div class="container">
  <div class="columns">
    <div class="contactMe">
      <h4>Contact Me</h4>
      <p>E-mail: wisa21rw@student.ju.se</p>
      <p>Phone number: 031-555-89</p>
    </div>
  </div>
</div>