<!-- https://picturepan2.github.io/spectre/layout/grid.html -->
<div class="container">
  <div class="columns">
  <div class="column col-12">
      <h4>FAQ</h4>
      {{#if answers.length}} <!-- AND approvedQuestions -->

        <dl>
          {{#each answers}}
            <dt>{{approvedQuestion}}</dt>
            <dd>{{answer}}</dd>
          {{/each}}
        </dl>

      {{else}}

        <p>There are no questions right now. Ask the first one!</p>

      {{/if}}
    </div>
    <div class="column col-5">
      <!-- https://picturepan2.github.io/spectre/elements/forms.html#forms-input -->
      <div>
        <form action="" method="POST">
          <div>
            <label class="form-label" for="input-example-1">Write your question
              here:</label>
            <input type="text" name="question" />
          </div>
          <input class="btn btn-primary" type="submit" value="Create FAQ" />
        </form>
      </div>
    </div>
</div>