<div class="homePageHero">
  <div class="heroBody">
    <h1>HI, WELCOME!</h1>
    <p>This is my portfolio. Feel free to use the navigation bar to look around
      and see my work. Enjoy.</p>
  </div>
</div>