<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Log in</h4>
    </div>
    <div class="column col-3">
      <form action="/login" method="POST">
        <div>
          <label class="form-label" for="input-example-1">Username</label>
          <input type="text" placeholder="Username" name="username" />
          <label class="form-label" for="input-example-1">Password</label>
          <input type="password" placeholder="Password" name="password" />
        </div>
        <div>
          <button class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>