<div class="container">
  <div class="columns">
    <div class="column col-4"><img
        src="/archway.jpg"
        alt="Woman in a dress standing under an arch"
      /></div>
    <div class="column col-4"><img
        src="/pillars.jpg"
        alt="Woman leaning over the handrail of a staircase"
      /></div>
    <div class="column col-4"><img
        src="/running.jpg"
        alt="Woman in a dress running towards a castle"
      /></div>
      <div class="column col-4"><img
        src="/closeup.jpg"
        alt="Close-up of a woman resting her head on her hand"
      /></div>
      <div class="column col-4"><img
        src="/dramatic.jpg"
        alt="Woman with long hair standing with her back against the camera"
      /></div>
      <div class="column col-4"><img
        src="/staircase.jpg"
        alt="Woman sitting on a castle's staircase in a long dress"
      /></div>
  </div>
</div>