<!-- https://picturepan2.github.io/spectre/layout/grid.html -->
<div class="container">
  <div class="columns">
    <div class="column col-10">
      <form action="" method="POST">
        <div>
          <h4>Upload photo</h4>
          <input class="form-input" type="file" name="photoUpload" />
        </div>
        <input class="btn btn-primary" type="submit" value="Upload" />
      </form>
    </div>
    <div class="column col-4"><img
        src="/archway.jpg"
        alt="Woman in a dress standing under an arch"
      />
      <button class="btn">Delete</button>
    </div>
    <div class="column col-4"><img
        src="/pillars.jpg"
        alt="Woman leaning over the handrail of a staircase"
      />
      <button class="btn">Delete</button>
    </div>
    <div class="column col-4"><img
        src="/running.jpg"
        alt="Woman in a dress running towards a castle"
      />
      <button class="btn">Delete</button>
    </div>
  </div>
</div>