<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Reviews</h4>
      {{#if reviews.length}}
        <dl>
          {{#each reviews}}
            <dd>"{{evaluation}}" <br /> &#11088;: {{grade}}/10</dd>
          {{/each}}
        </dl>
      {{/if}}
    </div>
    <div class="column col-5">
      {{#if errorMessages.length}}
        <p>Couldn't submit because:</p>
        <ul>
          {{#each errorMessages}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{/if}}
      <div>
        <form action="" method="POST">
          <div>
            <label class="form-label" for="input-example-1">Write your review
              here:</label>
            <input type="text" placeholder="Review" name="evaluation" />
            <input type="number" placeholder="Grade" name="grade" />
          </div>
          <div>
            <input
              class="btn btn-primary"
              type="submit"
              value="Create review"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>